extends ../layout/main.pug

block customer_nav 
    a(href='/customer/list' class='flex items-center gap-1 px-8 py-2 relative bg-light-purple text-strong-purple before:absolute before:top-0 before:left-0 before:w-1 before:h-full before:bg-strong-purple')
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z" />
        </svg>
        span Customers
block content 
    div(class='max-w-4xl m-auto bg-white mt-10 border rounded-xl')
        div(class='p-4 flex justify-between items-center')
            h3(class='text-2xl font-bold') Customers Info 
            div(class='flex gap-4')
                div(class='text-dark-grey relative inline-block')
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 absolute left-2 top-1/2 -translate-y-1/2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                    </svg>
                    input(type="text" placeholder="Search something here" class="pl-8 py-2 w-80 border text-black placeholder:text-dark-grey focus:outline-none focus:border focus:border-strong-purple rounded-md")
                a(class='px-2.5 py-1.5 bg-strong-purple text-white rounded-md cursor-pointer hover:opacity-70 flex gap-1 items-center') 
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zM4 19.235v-.11a6.375 6.375 0 0112.75 0v.109A12.318 12.318 0 0110.374 21c-2.331 0-4.512-.645-6.374-1.766z" />
                    </svg>
                    span Add Customer        
        div(class='h-[75vh] overflow-auto purple-scrollbar')     
            table(class='table-auto w-full text-left leading-9')
                thead(class="border-b border-gray-300 bg-[#F6F6F6] text-dark-grey")
                    tr
                        th(class='pl-4') Customer ID 
                        th Name 
                        th Date of birth 
                        th Address
                tbody
                    tr(class="border-b border-gray-300")
                        td(class='pl-4') C001 
                        td Nguyễn Trọng Duy 
                        td 16/08/2003
                        td Hanoi
                    tr(class="border-b border-gray-300")
                        td(class='pl-4') C001 
                        td Nguyễn Trọng Duy 
                        td 16/08/2003
                        td Hanoi
                    tr(class="border-b border-gray-300")
                        td(class='pl-4') C001 
                        td Nguyễn Trọng Duy 
                        td 16/08/2003
                        td Hanoi
                    tr(class="border-b border-gray-300")
                        td(class='pl-4') C001 
                        td Nguyễn Trọng Duy 
                        td 16/08/2003
                        td Hanoi
                    tr(class="border-b border-gray-300")
                        td(class='pl-4') C001 
                        td Nguyễn Trọng Duy 
                        td 16/08/2003
                        td Hanoi
                    tr(class="border-b border-gray-300")
                        td(class='pl-4') C001 
                        td Nguyễn Trọng Duy 
                        td 16/08/2003
                        td Hanoi
                    tr(class="border-b border-gray-300")
                        td(class='pl-4') C001 
                        td Nguyễn Trọng Duy 
                        td 16/08/2003
                        td Hanoi
                    tr(class="border-b border-gray-300")
                        td(class='pl-4') C001 
                        td Nguyễn Trọng Duy 
                        td 16/08/2003
                        td Hanoi
                    tr(class="border-b border-gray-300")
                        td(class='pl-4') C001 
                        td Nguyễn Trọng Duy 
                        td 16/08/2003
                        td Hanoi
                    tr(class="border-b border-gray-300")
                        td(class='pl-4') C001 
                        td Nguyễn Trọng Duy 
                        td 16/08/2003
                        td Hanoi
                    tr(class="border-b border-gray-300")
                        td(class='pl-4') C001 
                        td Nguyễn Trọng Duy 
                        td 16/08/2003
                        td Hanoi
                    tr(class="border-b border-gray-300")
                        td(class='pl-4') C001 
                        td Nguyễn Trọng Duy 
                        td 16/08/2003
                        td Hanoi
                    tr(class="border-b border-gray-300")
                        td(class='pl-4') C001 
                        td Nguyễn Trọng Duy 
                        td 16/08/2003
                        td Hanoi
                    tr(class="border-b border-gray-300")
                        td(class='pl-4') C001 
                        td Nguyễn Trọng Duy 
                        td 16/08/2003
                        td Hanoi
                    tr(class="border-b border-gray-300")
                        td(class='pl-4') C001 
                        td Nguyễn Trọng Duy 
                        td 16/08/2003
                        td Hanoi
                    tr(class="border-b border-gray-300")
                        td(class='pl-4') C001 
                        td Nguyễn Trọng Duy 
                        td 16/08/2003
                        td Hanoi
                    tr(class="border-b border-gray-300")
                        td(class='pl-4') C001 
                        td Nguyễn Trọng Duy 
                        td 16/08/2003
                        td Hanoi
                    tr(class="border-b border-gray-300")
                        td(class='pl-4') C001 
                        td Nguyễn Trọng Duy 
                        td 16/08/2003
                        td Hanoi
                    tr(class="border-b border-gray-300")
                        td(class='pl-4') C001 
                        td Nguyễn Trọng Duy 
                        td 16/08/2003
                        td Hanoi
                    tr(class="border-b border-gray-300")
                        td(class='pl-4') C001 
                        td Nguyễn Trọng Duy 
                        td 16/08/2003
                        td Hanoi
                    tr(class="border-b border-gray-300")
                        td(class='pl-4') C001 
                        td Nguyễn Trọng Duy 
                        td 16/08/2003
                        td Hanoi
                    tr(class="border-b border-gray-300")
                        td(class='pl-4') C001 
                        td Nguyễn Trọng Duy 
                        td 16/08/2003
                        td Hanoi

