extends ../layout/main.pug

block customer_nav 
    a(href='/customer/list' class='flex items-center gap-1 px-8 py-2 relative bg-light-purple text-strong-purple before:absolute before:top-0 before:left-0 before:w-1 before:h-full before:bg-strong-purple')
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
        </svg>
        span Orders
block content
    form(class='max-w-4xl mx-auto mt-10' action="")
        h3(class='text-2xl font-bold mb-6') Add Customer
        label(for="customerName" class="block font-semibold mb-1 text-dark-grey") Name:
        input(id='customerName' name="customerName" type="text" placeholder="Eg: Nguyen Trong Duy" class="pl-3 py-2 w-80 border text-black placeholder:text-dark-grey focus:outline-none focus:border focus:border-strong-purple rounded-md mb-3")  
        label(for="customerPhone" class="block font-semibold mb-1 text-dark-grey") Phone number:
        input(id='customerPhone' name="customerPhone" type="text" placeholder="Eg: 0981234567" class="pl-3 py-2 w-80 border text-black placeholder:text-dark-grey focus:outline-none focus:border focus:border-strong-purple rounded-md mb-3")  
        label(for="customerAddress" class="block font-semibold mb-1 text-dark-grey") Address:
        input(id='customerAddress' name="customerAddress" type="text" placeholder="Eg: Ha Noi" class="pl-3 py-2 w-80 border text-black placeholder:text-dark-grey focus:outline-none focus:border focus:border-strong-purple rounded-md mb-3")
        button(class='block mt-2 px-3 py-1.5 bg-strong-purple text-white rounded-md cursor-pointer hover:opacity-70') Submit